In [1]:
import pandas as pd
import numpy as np
import os

​任务一：为更好地掌握早高峰潮汐现象的变化规律与趋势，参赛者需基于主办方提供的数据进行数据分析和计算模型构建等工作，识别出工作日早高峰**07:00-09:00**潮汐现象最突出的**40**个区域，列出各区域所包含的共享单车停车点位编号名称，并提供计算方法说明及计算模型，为下一步优化措施提供辅助支撑。


 任务二：参赛者根据任务一Top40区域计算结果进一步设计高峰期共享单车潮汐点优化方案，通过主动引导停车用户到邻近停车点位停车，进行削峰填谷，缓解潮汐点停车位（如地铁口）的拥堵问题。允许参赛者自带训练数据，但需在参赛作品中说明所自带数据的来源及使用方式，并保证其合法合规。（城市公共自行车从业者将发生在早晚高峰时段共享单车“借不到、还不进”的问题称之为“潮汐”现象。本题涉及的“潮汐现象”聚焦“还不进”的问题，识别出早高峰共享单车最淤积的40个区域）

In [34]:
os.listdir()

['.DS_Store',
 'gxdc_dd.csv',
 'gxdc_gj20201224.csv',
 'gxdc_gj20201225.csv',
 'gxdc_gj20201221.csv',
 'gxdc_gj20201222.csv',
 'gxdc_gj20201223.csv',
 'gxdc_tcd.csv',
 '.ipynb_checkpoints',
 'DescriptiveAnalysis.ipynb']

In [4]:
gxdc1221 = pd.read_csv('gxdc_gj20201221.csv')
gxdc1222 = pd.read_csv('gxdc_gj20201222.csv')
gxdc1223 = pd.read_csv('gxdc_gj20201223.csv')
gxdc1224 = pd.read_csv('gxdc_gj20201224.csv')
gxdc1225 = pd.read_csv('gxdc_gj20201225.csv')

In [5]:
gxdc_stances = pd.read_csv('gxdc_tcd.csv')
gxdc_ord = pd.read_csv('gxdc_dd.csv')

# Data Usage Description:

### gxdc1221, gxdc1222, gxdc1223, gxdc1224, gxdc1225:

Share Bike Usage information

### gxdc_stances:

Share Bike stopping area information

### gxdc_ord:

Orders of share bikes usage

## gxdc1221 - gxdc1225

gxdc1221: Share bike usage data at 2020/12/21

In [32]:
gxdc1221.head()

                         BICYCLE_ID       LOCATING_TIME   LATITUDE   LONGITUDE
0  bd10a51275705899a7bd03d7bc998073  2020/12/21 8:09:14  24.483863  118.124380
1  aae46754d00d89ffadfcb668fdd9a07c  2020/12/21 6:22:52  24.483962  118.125831
2  aae46754d00d89ffadfcb668fdd9a07c  2020/12/21 8:23:00  24.483960  118.125810
3  6eac0479361902a8a0a9d575b532e5c7  2020/12/21 7:15:39  24.483965  118.125828
4  1dee615221ee1880a786276d0dc7ec3e  2020/12/21 8:36:40  24.482216  118.117263

In [63]:
gxdc1221.iloc[200]

BICYCLE_ID       02cf230d86d60ebe5a4eda3ef049c5bc
LOCATING_TIME                  2020/12/21 6:07:20
LATITUDE                                  24.4828
LONGITUDE                                 118.118
Name: 200, dtype: object

BICYCLE_ID: the unique id for each bicycle

LOCATING_TIME: 

LATITUDE & LONGITUDE: Coordinate

In [33]:
gxdc1222.head()

                         BICYCLE_ID       LOCATING_TIME  LATITUDE   LONGITUDE
0  1bdb74a19257ff3f918fd5168d73992b  2020/12/22 6:05:38  24.48348  118.125039
1  1bdb74a19257ff3f918fd5168d73992b  2020/12/22 6:05:53  24.48348  118.125039
2  1bdb74a19257ff3f918fd5168d73992b  2020/12/22 6:06:08  24.48348  118.125039
3  1bdb74a19257ff3f918fd5168d73992b  2020/12/22 6:06:23  24.48348  118.125039
4  1bdb74a19257ff3f918fd5168d73992b  2020/12/22 6:06:38  24.48348  118.125039

In [45]:
gxdc1221[gxdc1221['BICYCLE_ID'] == 'bd10a51275705899a7bd03d7bc998073']['LOCATING_TIME'].min(), gxdc1221[gxdc1221['BICYCLE_ID'] == 'bd10a51275705899a7bd03d7bc998073']['LOCATING_TIME'].max()

('2020/12/21 6:16:28', '2020/12/21 8:13:38')

------

## Analysis on a random bike

In [86]:
gxdc1221.iloc[200]

BICYCLE_ID       02cf230d86d60ebe5a4eda3ef049c5bc
LOCATING_TIME                  2020/12/21 6:07:20
LATITUDE                                  24.4828
LONGITUDE                                 118.118
Name: 200, dtype: object

In [87]:
random_bike_df = gxdc1221[gxdc1221['BICYCLE_ID'] == '02cf230d86d60ebe5a4eda3ef049c5bc']

In [88]:
for index, rows in random_bike_df.sort_values(by = ['LOCATING_TIME']).iterrows():
    print (rows['LOCATING_TIME'])

2020/12/21 6:07:20
2020/12/21 8:07:27

---------

In [40]:
gxdc1222[gxdc1222['BICYCLE_ID'] == '1bdb74a19257ff3f918fd5168d73992b']['LOCATING_TIME']

0         2020/12/22 6:05:38
1         2020/12/22 6:05:53
2         2020/12/22 6:06:08
3         2020/12/22 6:06:23
4         2020/12/22 6:06:38
                 ...
111324    2020/12/22 8:07:54
145411    2020/12/22 8:10:41
153910    2020/12/22 8:02:32
153911    2020/12/22 8:03:17
153912    2020/12/22 8:03:34
Name: LOCATING_TIME, Length: 168, dtype: object

In [12]:
len(gxdc1221['BICYCLE_ID'].unique()), len(gxdc1222['BICYCLE_ID'].unique()), len(gxdc1223['BICYCLE_ID'].unique()), len(gxdc1224['BICYCLE_ID'].unique()), len(gxdc1225['BICYCLE_ID'].unique())

(15661, 15737, 12382, 17751, 15881)

In [47]:
gxdc_stances.head()

        FENCE_ID                                          FENCE_LOC
0  长乐路0_L_A17001  [118.103198,24.527338],[118.103224,24.527373],...
1  长乐路0_L_A17002  [118.103171,24.527303],[118.103198,24.527338],...
2  长乐路0_L_A17003  [118.103231,24.527386],[118.103257,24.527421],...
3  长乐路0_L_A17004  [118.103257,24.527421],[118.103282,24.527455],...
4  长乐路0_L_A17005  [118.102948,24.527003],[118.102979,24.527046],...

In [49]:
gxdc_stances['FENCE_LOC'].iloc[0]

'[118.103198,24.527338],[118.103224,24.527373],[118.103236,24.527366],[118.103209,24.527331],[118.103198,24.527338]'

## gxdc_stances

FENCE_ID

FENCE_LOC: An area with five coordinates, the first one and the last one are the same, thus form a rectangle.

In [15]:
gxdc_stances['FENCE_LOC'].iloc[0]

'[118.103198,24.527338],[118.103224,24.527373],[118.103236,24.527366],[118.103209,24.527331],[118.103198,24.527338]'

## gxdc_ord

In [50]:
gxdc_ord.head()

,BICYCLE_ID,LATITUDE,LONGITUDE,LOCK_STATUS,UPDATE_TIME
0,f8f99ef8d9bd3942580c2f8f5d1232ba,24.495537,118.126619,0,2020/12/22 6:25:56
1,8d1abc077be52af3eecf8340f4ea6981,24.443596,118.083372,0,2020/12/22 6:25:57
2,1122da7c68701a8d60df2eb7a89b6452,24.485108,118.092266,1,2020/12/22 6:25:58
3,324943a3613a133055f4f2e4162cef5f,24.501391,118.083000,1,2020/12/22 6:25:59
4,f6720d758b03dcec0765e49b4ce46111,24.483700,118.117027,1,2020/12/22 6:25:59

In [73]:
gxdc_ord[gxdc_ord['BICYCLE_ID'] == '1dee615221ee1880a786276d0dc7ec3e'].sort_values(by = ['UPDATE_TIME'])

Empty DataFrame
Columns: [BICYCLE_ID, LATITUDE, LONGITUDE, LOCK_STATUS, UPDATE_TIME]
Index: []

In [18]:
len(gxdc_ord['BICYCLE_ID'].unique())

53630

In [22]:
gxdc1221.columns, gxdc_stances.columns, gxdc_ord.columns

(Index(['BICYCLE_ID', 'LOCATING_TIME', 'LATITUDE', 'LONGITUDE'], dtype='object'),
 Index(['FENCE_ID', 'FENCE_LOC'], dtype='object'),
 Index(['BICYCLE_ID', 'LATITUDE', 'LONGITUDE', 'LOCK_STATUS', 'UPDATE_TIME'], dtype='object'))

In [29]:
min(gxdc1221['LATITUDE']), max(gxdc1221['LATITUDE'])

(24.482147604, 24.520172061999997)

In [57]:
gxdc_ord['UPDATE_TIME'].min(), gxdc_ord['UPDATE_TIME'].max()

('2020/12/21 6:00:01', '2020/12/25 9:59:59')

In [90]:
# import plotly.express as px
# import geopandas as gpd

# geo_df = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))

# px.set_mapbox_access_token(open(".mapbox_token").read())
# fig = px.scatter_mapbox(geo_df,
#                        lat=geo_df.geometry.y,
#                        lon=geo_df.geometry.x,
#                        hover_name="name",
#                        zoom=1)
# fig.show()